<nav class="navbar navbar-expand-lg bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-solid fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        
        <a class="nav-link" href="/listings">Explore</a>
       
       
      </div>
      <div class="navbar-nav ms-auto">
       <form class="d-flex" role="search" action="/listings" method="GET">
  <input class="form-control me-2 searchInput" type="search" name="search" placeholder="Search Destinations" />
  <button class="btn btn-outline-danger searchbtn" type="submit">
    <i class="fa-solid fa-magnifying-glass-location">Search</i>
  </button>
</form>

      </div>
      <div class="navbar-nav ms-auto">
         <a class="nav-link" href="/listing/new">Add your property</a>
        <% if(!curUser){ %>
        <a class="nav-link"  href="/login"><b>LogIn</b></a>
        <a class="nav-link" href="/signUp"><b>SignUp</b></a>
        <% } %>
        <% if(curUser){ %>
        <a class="nav-link" href="/logout"><b>Logout</b></a>
                 <% } %>
      </div>
    </div>
  </div>
</nav>